---
title: "\"In-Depth GoPro Hero5 Testing Report\""
date: 2024-08-15T19:50:57.494Z
updated: 2024-08-16T19:50:57.494Z
tags: 
  - screen-recording
  - ai video
  - ai audio
  - ai auto
categories: 
  - ai
  - screen
description: "\"This Article Describes In-Depth GoPro Hero5 Testing Report\""
excerpt: "\"This Article Describes In-Depth GoPro Hero5 Testing Report\""
keywords: "GoPro Hero5 Review,Hero5 Camera Test,Hero5 Performance,GoPro Hero5 Analysis,Hero5 Waterproof Testing,GoPro Hero5 Features,Hero5 Video Quality"
thumbnail: https://thmb.techidaily.com/7d60bd83471ce3aad62f7e36543b04c731bcd80b3b2e4d4cbbcd899202078565.jpg
---

## In-Depth GoPro Hero5 Testing Report

# GoPro Hero5 Session Review

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## [Specs Table:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

<!-- affiliate ads begin -->
<a href="https://estore.zonealarm.com/order/checkout.php?PRODS=38658749&QTY=1&AFFILIATE=108875&CART=1"><img src="https://sc1.checkpoint.com/sc1/za/images/boxes/pa_500.png" border="0">ZoneAlarm Pro Antivirus + Firewall NextGen</a>
<!-- affiliate ads end -->
## [Pros and Cons:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

<!-- affiliate ads begin -->
<a href="https://appsumo.8odi.net/c/5597632/2082529/7443" target="_top" id="2082529"><img src="//a.impactradius-go.com/display-ad/7443-2082529" border="0" alt="" width="1200" height="600"/></a><img height="0" width="0" src="https://appsumo.8odi.net/i/5597632/2082529/7443" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## [Complete Review](https://tools.techidaily.com/wondershare/filmora/download/)

#### [What is inside the Box?](https://tools.techidaily.com/wondershare/filmora/download/)

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

<!-- affiliate ads begin -->
<a href="https://store.massmailsoftware.com/order/checkout.php?PRODS=2069351&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/dc87c13749315c7217cdc4ac692e704c/banera_for_partners-24_%282%29.jpg" border="0"></a>
<!-- affiliate ads end -->
## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)
<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4665597&QTY=1&AFFILIATE=108875&CART=1"><img src="https://www.pcclean.io/wp-content/uploads/2018/03/winutilities-box-130521.png" border="0">WinUtilities Pro</a>
<!-- affiliate ads end -->

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>


<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://screen-mirroring-recording.techidaily.com/new-2024-approved-exclusive-guide-to-priceless-cam-screen-recorders/"><u>[New] 2024 Approved  Exclusive Guide to Priceless Cam Screen Recorders</u></a></li>
<li><a href="https://extra-resources.techidaily.com/new-awesome-online-destinations-for-advanced-text-customization/"><u>[New] Awesome Online Destinations for Advanced Text Customization</u></a></li>
<li><a href="https://fox-info.techidaily.com/new-designing-acoustic-elements-for-film-teasers-and-previews-for-2024/"><u>[New] Designing Acoustic Elements for Film Teasers and Previews for 2024</u></a></li>
<li><a href="https://fox-info.techidaily.com/new-ideal-image-packs-selecting-the-best-for-macbook-screens-for-2024/"><u>[New] Ideal Image Packs  Selecting the Best for MacBook Screens for 2024</u></a></li>
<li><a href="https://fox-info.techidaily.com/new-inside-the-evolved-sony-bdp-s6700-world-for-2024/"><u>[New] Inside the Evolved Sony BDP-S6700 World for 2024</u></a></li>
<li><a href="https://some-tips.techidaily.com/new-the-premier-5-ios-photo-background-swap-apps/"><u>[New] The Premier 5 iOS Photo Background Swap Apps</u></a></li>
<li><a href="https://fox-helps.techidaily.com/new-top-videography-items-for-travelers/"><u>[New] Top Videography Items for Travelers</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-youtube-video-dimension-standards/"><u>[New] YouTube Video Dimension Standards</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-2024-approved-luminescence-levered-5-top-videography-enhancers/"><u>[Updated] 2024 Approved  Luminescence Levered  5 Top Videography Enhancers</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-2024-approved-mac-masters-choice-top-10-incredible-4k-displays/"><u>[Updated] 2024 Approved  Mac Master's Choice  Top 10 Incredible 4K Displays</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-2024-approved-obs-vs-wirecast-which-should-you-trust-for-live/"><u>[Updated] 2024 Approved  OBS Vs. Wirecast - Which Should You Trust for Live?</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-2024-approved-ranking-premium-photo-and-video-shows-x-ios14/"><u>[Updated] 2024 Approved  Ranking Premium Photo & Video Shows (X-IOS14)</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-av1-compression-a-beginners-overview-for-2024/"><u>[Updated] AV1 Compression  A Beginner's Overview for 2024</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-cost-effective-high-performance-asmr-microphones-guide/"><u>[Updated] Cost-Effective, High-Performance ASMR Microphones Guide</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-entering-a-new-era-with-htcs-immersive-vr-gaming-for-2024/"><u>[Updated] Entering a New Era with HTC's Immersive VR Gaming for 2024</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-in-2024-essential-14-text-based-motion-graphics/"><u>[Updated] In 2024, Essential 14 Text-Based Motion Graphics</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-in-2024-invisible-presence-guide-to-instagram-live-broadcasts-and-streaming/"><u>[Updated] In 2024, Invisible Presence Guide to Instagram Live Broadcasts and Streaming</u></a></li>
<li><a href="https://fox-info.techidaily.com/updated-prime-software-solutions-for-video-games-for-2024/"><u>[Updated] Prime Software Solutions for Video Games for 2024</u></a></li>
<li><a href="https://tiktok-videos.techidaily.com/updated-quick-guide-to-boost-your-tiktok-production-speed-for-2024/"><u>[Updated] Quick Guide to Boost Your TikTok Production Speed for 2024</u></a></li>
<li><a href="https://visual-screen-recording.techidaily.com/updated-the-deadly-drafts-cutthroat-selection-of-top-zombie-titles/"><u>[Updated] The Deadly Drafts  Cutthroat Selection of Top Zombie Titles</u></a></li>
<li><a href="https://some-skills.techidaily.com/updated-the-ultimate-guide-to-large-scale-tiktok-content-acquisition/"><u>[Updated] The Ultimate Guide to Large-Scale TikTok Content Acquisition</u></a></li>
<li><a href="https://vimeo-videos.techidaily.com/updated-vimeo-cameo-review-for-2024/"><u>[Updated] Vimeo Cameo Review for 2024</u></a></li>
<li><a href="https://youtube-videos.techidaily.com/2024-approved-creator-payment-frequency-on-youtube-platform/"><u>2024 Approved  Creator Payment Frequency on YouTube Platform</u></a></li>
<li><a href="https://fox-info.techidaily.com/2024-approved-implementing-gradual-audio-reduction-tricks-in-audacity/"><u>2024 Approved  Implementing Gradual Audio Reduction Tricks in Audacity</u></a></li>
<li><a href="https://fox-info.techidaily.com/2024-approved-inside-virtuality-metaverse-vs-omniverse-in-focus/"><u>2024 Approved  Inside Virtuality  Metaverse Vs. Omniverse in Focus</u></a></li>
<li><a href="https://win-dash.techidaily.com/1722960709329-easy-to-install-drivers-for-intel-iris-plus-graphics-latest-version-now-available/"><u>Easy-to-Install Drivers for Intel Iris Plus Graphics - Latest Version Now Available</u></a></li>
<li><a href="https://driver-download.techidaily.com/get-your-logitech-brio-webcam-up-and-running-on-windows-1187-with-official-driver-software/"><u>Get Your Logitech Brio Webcam Up and Running on Windows 11/8/7 with Official Driver Software</u></a></li>
<li><a href="https://fake-location.techidaily.com/how-to-change-netflix-location-to-get-more-country-version-on-nokia-xr21-drfone-by-drfone-virtual-android/"><u>How to Change Netflix Location to Get More Country Version On Nokia XR21 | Dr.fone</u></a></li>
<li><a href="https://some-techniques.techidaily.com/in-2024-getting-hooked-on-telegram-advertising-a-starters-guide/"><u>In 2024, Getting Hooked on Telegram Advertising  A Starter's Guide</u></a></li>
<li><a href="https://bypass-frp.techidaily.com/in-2024-how-to-bypass-frp-from-vivo-v29e-by-drfone-android/"><u>In 2024, How to Bypass FRP from Vivo V29e?</u></a></li>
<li><a href="https://fox-info.techidaily.com/in-2024-premium-gaming-systems-high-performance-meets-style/"><u>In 2024, Premium Gaming Systems  High Performance Meets Style</u></a></li>
<li><a href="https://youtube-stream.techidaily.com/in-2024-transforming-youtube-descriptions-leveraging-template-power/"><u>In 2024, Transforming YouTube Descriptions  Leveraging Template Power</u></a></li>
<li><a href="https://fox-info.techidaily.com/in-2024-ustream-review-and-alternatives/"><u>In 2024, Ustream Review and Alternatives</u></a></li>
<li><a href="https://fox-info.techidaily.com/podcastpathfinder-moving-past-dacast/"><u>PodcastPathfinder  Moving Past DaCast</u></a></li>
<li><a href="https://fox-info.techidaily.com/the-ultimate-guide-to-smart-picture-editing-using-pixlr-for-2024/"><u>The Ultimate Guide to Smart Picture Editing Using Pixlr for 2024</u></a></li>
<li><a href="https://fox-info.techidaily.com/the-ultimate-tiktok-unboxers-playbook-for-likes/"><u>The Ultimate TikTok Unboxer's Playbook for Likes</u></a></li>
<li><a href="https://fox-info.techidaily.com/top-8-criteria-when-expanding-your-4k-setup-for-2024/"><u>Top 8 Criteria When Expanding Your 4K Setup for 2024</u></a></li>
<li><a href="https://fox-direct.techidaily.com/transforming-perceptions-with-virtual-tour-experiences/"><u>Transforming Perceptions with Virtual Tour Experiences</u></a></li>
</ul></div>
